@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Poppins:wght@400;700&display=swap');


body {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-45deg, #8fbc8f, #00ced1, #7fffd4, #008080);
    background-size: 400% 400%0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

.redes-socias {
    margin-top: 1rem;
    display: flex;
}

a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 1rem 4rem;
    border: 1px solid white;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
}

a:hover {
    color: #008080;
    background-color: white;
}

@keyframes backgroundTransitions {
    
}